<!DOCTYPE html> 
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Cat&aacute;logo de Times</title>
        <link rel="stylesheet" type="text/css" href="../css/layoutadm.min.css" />
    </head>

    <body>
    	<div id="geral">
        	<div id="cabecalho"></div>

            <header>
                <nav id="menu_superior">
                    <a href="../adm/paginas/home.htm">Home</a> ::
                    <a href="../adm/paginas/cadastros.htm">Cadastros</a> ::
                    <a href="../adm/paginas/consultas.htm">Consultas</a> ::
                    <a href="../adm/formularios/logout.htm">Sair</a>
                </nav>
            </header>

            <div id="conteudo">
    				Conte&uacute;do
            </div>

            <footer id="rodape">
            </footer>       	
        </div>
    </body>
    
</html>
