<!DOCTYPE html> 
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Cat&aacute;logo de Times</title>
        <link rel="stylesheet" type="text/css" href="../css/layoutgeral.min.css" />
    </head>

    <body>
    	<div id="geral">
        	<div id="cabecalho">
            </div>

            <header>
                <nav id="menu_superior">
                    <a href="../site/paginas/home.htm">Home</a> ::
                    <a href="../adm/formularios/cadastro.usuario.htm">Cadastrar-se</a> ::
                    <a href="../site/consultas/lista.times.php">Consultas</a> ::            
                    <a href="../adm/formularios/form.login.htm">Entrar</a>
                </nav>
            </header>

            <div id="conteudo">
            	<div id="menu_lateral">               
                </div>

                <div id="texto">
                        Conte&uacute;do
                </div>
            </div>

            <footer id="rodape">
            </footer>        	
        </div>
    </body>
</html>
